body {
    background-color: #1f2937;
    font-family: sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

header, .main-content, footer {
    color: #f9faf8;
    padding: 0px 220px;
}

header {
    display: flex;
    align-items: center; 
}

#logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: auto;
    margin-right: 0;
}

a {
    text-decoration: none;
}

.main-content {
    display: flex;
    gap: 40px;
    margin: 100px 0px 150px 0px;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text, a {
    color: #e5e7eb;
    font-size: 18px;
}

.text-container, .img-container {
    flex: 1 1 auto;
}

.sign-up { 
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    border-style: none;
    border-radius: 7px;
    padding: 8px 32px;
    margin: 12px 0px;
}

.window {
    max-width: 100%;
}

.content {
    background-color: #f9faf8;
    padding: 60px 0px;
}

.content-1, .content-2, .content-3 {
    padding: 0px 220px;
}

.content-1 {
    padding-bottom: 80px;
    text-align: center;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.img-container-2 {
    display: flex;
    gap: 60px;
    justify-content: flex-end;
}

.paper {
    max-width: 100%;
}

.content-2 {
    background-color: #e7e5eb;
    padding: 100px 220px;
}

quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    text-align: justify;
}

.author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    margin-top: 20px;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}